body,
h1,
h2,
h3,
ul,
ol {
  font-family: josefin-sans, sans-serif;
  /* margin: 50px 50px; */
  justify-content: center;
  text-align: center;
}

p {
  font-family: josefin-sans, sans-serif;
  text-align: left;
}

/* body.case-study-page {
  background-color: #E7E3DC;
} */

h1 {
  font-size: 70px;
  font-weight: normal;
}

h2 {
  font-size: 50px;
  font-weight: normal;
}

h3 {
  font-size: 30px;
  margin-top: 70px;
  font-weight: normal;
}

h4 {
  font-size: 26px;
  margin-top: 2px;
  font-weight: normal;
}

h1,
p {
  justify-content: center;
  margin: auto;
}

p {
  font-size: 25px;
  margin: 30px 0px 30px 0px;
  font-weight: normal;
}

nav {
  display: flex;
  margin: 20px 20px;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

nav ul {
  list-style: none;
  font-size: 20px;
}

nav li {
  text-align: left;
  display: inline;
  padding: 5px 10px;
}

blockquote {
  border-left: 2px solid #3172D7;
  font-size: 25px;
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  line-height: 40px;
  padding: 10px;
  margin: auto;
  width: 65%;
  color: #3172D7;
}

footer {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: flex-start;
  align-items: center;
  width: 100%;
  height: 100px;
}

/* mark {
  display: inline-block;
  line-height: 0em;
  padding-bottom: 0.5em;
  background: white;
  background: linear-gradient(to left, white 50%, yellow 50%) right;
  transition: .5s ease-out;
}

mark:hover {
  background-position: left;
} */

mark {
  display: inline-block;
  /* padding: 1em 2em; */
  line-height: 0em;
  padding-bottom: 0.5em;
  text-align: center;
  /* color: white; */
  background: white;
  /* default color */

  /* "to left" / "to right" - affects initial color */
  background: linear-gradient(to left, white 50%, salmon 50%) left;
  background-size: 200%;
  animation: 2s translate;
}

mark.yellow-highlight {
  background: linear-gradient(to left, white 50%, #F9D450 50%) left;
  background-size: 200%;
  animation: 2s translate;
}

@keyframes translate {
  from {
    background-position: right;
  }

  to {
    background-position: left;
  }
}

.casestudy-header-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px 20px;
}

#venmo-banner-thumbnail {
  width: 500px;
  height: autocenter
}

.casestudy-header-text h1 {
  font-family: 'Karla', sans-serif;
  font-size: 50px;
  font-weight: bold;
}

.casestudy-header-text h3 {
  font-family: 'Karla', sans-serif;
  /* font-weight: bold; */
  text-align: left;
  font-size: 20px;
  margin: 10px;
  /* color: rgb(104, 104, 210); */
}

.break {
  flex-basis: 100%;
  height: 0;
}

.title {
  margin: 20px;
  font-size: 40px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .flex div {
  width: 50%;
} */

.center,
.pop-text {
  /* display: flex; */
  overflow: visible;
  justify-content: center;
  align-items: center;
}

.pop-text {
  width: 60%;
  margin: auto;
}

img {}

.case-study {
  position: relative;
  bottom: 0px;
  left: 0px;
  align-items: center;
  width: 1400px;
  height: 600px;
  margin: 20px auto;
  transition: .5s ease;
}

.case-study img {
  width: 1400px;
  height: 600px;
}

.highlight {
  position: relative;
  left: 4%;
  top: 50%;
  right: 0%;
  bottom: auto;
  height: 36%;
  margin-right: 4px;
  background-color: rgba(224, 193, 66, 0.5);
  -webkit-perspective: none;
  perspective: none;
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}

.nav-link {
  text-underline-offset: 3px;
  color: black;
  transition: all ease 0.5s;
}

.nav-link:hover {
  color: salmon;
  /* font-weight: 700; */
  transition: all ease 0.5s;
}

.nav-selected {
  color: salmon;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  bottom: 0;
  /* background: rgb(0, 0, 0); */
  background: rgba(0, 0, 0, 0.25);
  /* Black see-through */
  color: #f1f1f1;
  width: 1360px;
  height: 560px;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 50px;
  padding: 20px;
  text-align: center;
}

.overlay:hover {
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.case-study:hover {
  position: relative;
  /* bottom: 10px; */
  left: 10px;
  transition: .5s ease;
}

.main-content {
  width: 70%;
  margin: auto;
}

.main-content-home {
  /* width: 60%; */
  align-items: center;
  margin: auto;
}

.active.overlay {
  opacity: 1;
}

.case-study-main-content h1 {
  font-size: 50px;
  font-family: 'Karla', sans-serif;
  font-weight: bold;
}

.case-study-main-content h2 {
  font-size: 30px;
  font-family: 'Karla', sans-serif;
  font-weight: bold;
}

.case-study-main-content h3 {
  font-size: 25px;
  font-family: 'Karla', sans-serif;
  font-weight: bold;
}

.case-study-main-content p,
.case-study-main-content ol,
.case-study-main-content ul {
  line-height: 30px;
  margin: 40px 5px;
  font-size: 20px;
  font-family: 'Karla', sans-serif;
}

.case-study-main-content ol {
  /* width: 60%; */
  line-height: 40px;
  text-align: left;
}

.case-study-main-content img {
  max-height: 500px;
  width: auto;
}

.thumbnail {
  width: 40%;
  padding-left: 0%;
  padding-right: 5%;
}

.path {
  stroke-width: 8;
  stroke: rgb(59, 43, 175);
  fill: transparent;
}

.path.active {
  stroke-width: 8;
  stroke: rgb(59, 43, 175);
  fill: transparent;
  animation: dash 1s ease-in;
  /* infinite alternate; */
  animation-fill-mode: forwards;
}



@keyframes dash {
  /* from {
    stroke-dashoffset: 1000;
  } */

  to {
    stroke-dashoffset: 0;
  }
}

.prototype-gif {
  margin: 30px;
  margin-bottom: 40px;
  width: 30%;
}

.prototype-gif p {
  margin: auto;
}

.title div {
  display: inline;
  position: relative;
  bottom: 20px;
}

.about-content {
  width: 1200px;
  margin: auto;
}

.whyux-main p {
  line-height: 35px;

}

.whyux-highlight p {
  margin: auto;
  /* width: 65%; */
  color: orange;
  font-size: 30px;
  font-weight: bold;
  line-height: 50px;
  /* border-left: 2px solid orange; */
}

.case-study-section {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 60%;
}

.case-study-section-title {
  margin: 20px 50px;
  width: 20%;
}

#venmo-main-content .case-study-section-title h2 {
  padding-bottom: 10px;
  /* text-decoration: underline; */
  /* text-underline-offset: 20px; */
  border-bottom: #3172D7 3px solid;
  display: inline-block;
}

#freetery-main-content .case-study-section-title h2 {
  padding-bottom: 10px;
  /* text-decoration: underline;
  text-underline-offset: 20px; */
  border-bottom: #02825d 3px solid;
  display: inline-block;

}

.case-study-section-content {
  width: 80%;
  margin: 20px 50px;
}

.case-study-emphasis {
  background-color: grey;
}

#charcuterie-img {
  width: 500px;
  margin-right: 40px;
}

#prototype-gifs {
  display: flex;
  /* flex: 0 0 auto; */
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: auto;

  /* margin-bottom: 40px; */
  width: 90%;
}


#freetery-case-study {
  background: linear-gradient(-45deg, #02825d, #afeec8);
}

#ume-case-study {
  background: linear-gradient(-45deg, #FFF8F0, #FF9574);
}

#venmo-case-study {
  background: linear-gradient(-45deg, #7c43e6, #3172D7);
}

#venmo-main-content,
#freetery-main-content {
  margin: auto;
}

#freetery-main-content h1,
#freetery-main-content h2,
#freetery-main-content h3 {
  color: #02825d;
}

#venmo-main-content h1,
#venmo-main-content h2,
#venmo-main-content h3 {
  color: #3172D7;
}

.freetery-color {
  color: #02825d;
  font-weight: 900;
}

#venmo-footer,
#venmo-footer a {
  color: white;
  background-color: #3172D7;
  transition: all ease 1s;
  text-align: center;
}

#venmo-footer p {
  text-align: center;
}

#venmo-footer:hover {
  background-color: #083275;
  transition: all ease 1s;
}

#ume-footer,
#ume-footer a {
  color: white;
  background-color: #FF9574;
}

#ume-footer p {
  text-align: center;
}

#about-text {
  /* margin: 0px 100px; */
  line-height: 50px;
  padding: 0px 100px;
}

#venmo-thumbnail {
  width: 120%;
  height: auto;
  position: relative;
  right: 15%;
  /* height: 100%; */
}

#freetery-thumbnail {
  width: 100%;
  height: auto;
  /* height: 100%; */
}

#blueberry {
  position: absolute;
  top: 18%;
  left: 50%;
}

#emily-logo {
  width: 70px;
  flex-grow: 1;
  /* position: absolute; */
  /* top: 0%; */
  /* left: -1%; */
}

#freetery-gif {
  margin: auto;
  margin-bottom: 20px;
}

#whyux-main h2,
h3,
h4,
p,
ul,
ol {
  /* font-family: 'Poppins', 'sans-serif'; */
  /* font-family: josefin-sans, sans-serif; */
  /* color: red; */
}

#word-graph {
  width: 800px;
  /* margin: auto; */
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 40px;
  /* background-color: pink;
  border-radius: 100px; */
}

#word-graph-circle1 {
  background-color: pink;
  border-radius: 500px;
  width: 150px;
  height: 150px;
  position: relative;
  top: 35px;
  right: -35px;
  z-index: -1;
  margin: -75px;
}

#word-graph-circle2 {
  background-color: pink;
  border-radius: 500px;
  width: 400px;
  height: 400px;
  position: relative;
  top: 170px;
  right: -80px;
  z-index: -1;
  margin: -200px;
}

#front-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

#front-text h1 {
  display: inline;
}

#tasia-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 1200px;
}

#tasia-logo {
  width: 300px;
}

#tasia-text {
  padding: 0px 100px;
  line-height: 50px;
  /* width: 500px; */
}

#photo-emily2 {
  width: 300px;
}